<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUPABASE_URL</key>
    <string>https://cgmaotzmeoiueyzlchaz.supabase.co</string>
    <key>SUPABASE_ANON_KEY</key>
    <string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNnbWFvdHptZW9pdWV5emxjaGF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxOTA4MzgsImV4cCI6MjA4Nzc2NjgzOH0.REDACTED-anon-jwt-sig</string>
</dict>
</plist>
